{% extends 'base.html'%}
{% block content%}
<div class="max-w-xl mx-auto mt-10 p-6 bg-white shadow-lg rounded-xl">
    <h1 class="text-2xl font-bold mb-4 text-gray-800">New Topic</h1>
    <p class="mb-6 text-gray-600">Enter a new topic below:</p>
  
    <form action="{% url 'learning_logs:new_topic' %}" method="post" class="space-y-4">
      {% csrf_token %}
      <div class="space-y-2">
        {{ form.as_p }}
      </div>
  
      <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-md transition duration-300">
        Submit
      </button>
    </form>
  </div>
  
{% endblock%}